# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos media subidos por usuarios
media/

# Archivos temporales
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
desktop.ini

# Variables sensibles
.env